{
  {% if home is defined and home %}
  "HomepageLocation": "{{ home }}",
  "HomepageIsNewTabPage": false,
  "RestoreOnStartup": -1,
  "RestoreOnStartupURLs": [ "{{ home }}" ],
  {% endif %}
  "ShowHomeButton": true,
  "DefaultBrowserSettingEnabled": false,
  "MetricsReportingEnabled": false,
  "DefaultGeolocationSetting": 2,
  "AIModeSettings": 1,
  "SafeBrowsingEnabled": true,
  "PasswordManagerEnabled": false,
  "AutofillCreditCardEnabled": false,
  "AutofillAddressEnabled": false,
  "HighEfficiencyModeEnabled": true,
  "MemorySaverModeSavings": 1,
  "AllowExperimentalAIForUsers": false,
  "BackgroundModeEnabled": false,
  "BookmarkBarEnabled": true,
  "EnableMediaRouter": false,
  "PrintingEnabled": true,
  "AutoplayAllowed": false,
  "WebAppInstallByUserEnabled": false,
  "ChromeSuggestionsSettings": 1,
  "CreateThemesSettings": 1,
  "DevToolsGenAiSettings": 2,
  "GeminiActOnWebSettings": 1,
  "GeminiSparkSettings": 1,
  "GenAILocalFoundationalModelSettings": 1,
  "GenAiDefaultSettings": 2,
  "HelpMeWriteSettings": 2,
  "HistorySearchSettings": 2,
  "SearchContentSharingSettings": 1,
  "SmartTabSharingSettings": 1,
  "TabCompareSettings": 2,
  "DefaultNotificationsSetting": 2,
  "ScreenCaptureAllowed": true,
  "DefaultSensorsSetting": 2,
  "DefaultSerialGuardSetting": 2,
  "DefaultSmartCardConnectSetting": 2,
  "DefaultWebBluetoothGuardSetting": 2,
  "DefaultWebHidGuardSetting": 2,
  "DefaultWebUsbGuardSetting": 2,
  "DefaultWindowManagementSetting": 2,
  "AlternateErrorPagesEnabled": false,
  "AudioCaptureAllowed": false,
  "BuiltInAIAPIsEnabled": false,
  "ChromeDataRegionSetting": 2,
  "CacheEncryptionEnabled": true,
  "CpuPerformanceTierOverride": 1,
  "DesktopSharingHubEnabled": false,
  "EnterpriseProfileBadgeToolbarSettings": 0,
  "BrowserGuestModeEnabled": false,
  "LocalNetworkAccessPermissionsPolicyDefaultEnabled": false,
  "AbusiveExperienceInterventionEnforce": true,
  "AdsSettingForIntrusiveAdsSites": 2,
  "AdvancedProtectionAllowed": true,
  "BrowserLabsEnabled": false,
  "FeedbackSurveysEnabled": false,
  "ForceGoogleSafeSearch": true,
  "GoogleSearchSidePanelEnabled": false,
  "MediaRecommendationsEnabled": false,
  "URLBlocklist": [
    "remotedesktop.google.com",
    "remotedesktop-pa.googleapis.com",
    "instantmessaging-pa.googleapis.com"
  ],
  "RemoteAccessHostFirewallTraversal": false,
  "BrowserSignin": 0,
  "SyncDisabled": true,

  {% if search is defined and search %}
  "DefaultSearchProviderEnabled": true,
  "DefaultSearchProviderName": "{{ search.name }}",
  "DefaultSearchProviderSearchURL": "{{ search.url }}",
  {% endif %}
  {% if bookmarks is defined and bookmarks %}
  "ManagedBookmarks": [
    {
      "name": "{{ bookmarks.folderName }}",
      "children": [
        {% for link in bookmarks.links %}
        { "name": "{{ link.name }}", "url": "{{ link.url }}" } {{ "," if not loop.last else "" }}
        {% endfor %}
      ]
    }
  ],
  {% endif %}
  "MetricsReportingEnabled": false,
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  {% if ublock is defined and ublock %}
  "ExtensionInstallForcelist": [
    "ddkjiahejlhfcafbddmgiahcphecmpfh;https://clients2.google.com/service/update2/crx",
  ]
  {% endif %}
}